.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.rect {
    stroke: white;
    stroke-width: 1px;
}

.label {
    fill: white;
    font-size: 12px;
}

.hover_line {
    stroke: black;
    stroke-width: 2px;
}

.hover_text {
    fill: black;
    font-size: 12px;
}

.tooltip {
    font-size: 12px;
}

.time_indicator {
    fill: blue;
    font-weight: bolder;
    font-size: 18px;
}

.time_indicator_text {
    fill: blue;
    font-size: 12px;
}
.current_line {
    stroke: blue;
    stroke-width: 1px;
}
.edit_rect {
    stroke: #AAA;
    fill: #FFF;
    stroke-width: 1px;
    cursor:w-resize;
}
.edit_text{
    font-size:10px;
}

/*水泵状态*/
.open_state {
    fill: #52B261;
}/*开*/

.close_state {
    fill: #E36B6B;
}/*关*/

.fault_state {
    fill: #f2a91b;
}/*故障*/

.indefinite_state {
    fill: #9C9C9C;
}/*不定*/
