.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.rect {
    stroke: white;
    stroke-width: 1px;
}

.label {
    fill: white;
    font-size: 12px;
}

.hover_line {
    stroke: black;
    stroke-width: 2px;
}

.hover_text {
    fill: black;
    font-size: 12px;
}

.tooltip {
    font-size: 12px;
}

.time_indicator {
    fill: blue;
    font-weight: bolder;
    font-size: 18px;
}

.time_indicator_text {
    fill: blue;
    font-size: 12px;
}
.current_line {
    stroke: blue;
    stroke-width: 1px;
}
.edit_rect {
    stroke: #AAA;
    fill: #FFF;
    stroke-width: 1px;
    cursor:w-resize;
}
.edit_text{
    font-size:10px;
}

/*水泵状态*/
.open_state {
    fill: #52B261;
}/*开*/

.close_state {
    fill: #E36B6B;
}/*关*/

.fault_state {
    fill: #f2a91b;
}/*故障*/

.indefinite_state {
    fill: #9C9C9C;
}/*不定*/


/*tooltip*/
.tooltip{
  position: absolute;
  width: 120px;
  height: auto;
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: black;
  border-width: 2px solid black;
  border-radius: 5px;
}

.tooltip:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.popoverBtn{
  height: 26px;
  width: 25px;
  margin: 0px;
  padding: 0px;
}

.popoverBtn.red{
  border:0px;
  color: white;  
  text-shadow: none;  
  background-color: #d84a38;
}
/***
Buttons & Dropdown Buttons
***/

.btn {
  cursor:pointer;
  border-width: 0;
  padding: 7px 14px;  
  font-size: 14px;  
  outline: none !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
          text-shadow: none;
}

/* fix jumping group buttons */
.btn-group.btn-group-solid .btn + .btn,
.btn-group.btn-group-solid .btn + .btn-group.btn-group-solid,
.btn-group.btn-group-solid .btn-group.btn-group-solid + .btn,
.btn-group.btn-group-solid .btn-group.btn-group-solid + .btn-group.btn-group-solid {
  margin-left: 0px;
}

.btn-group-vertical.btn-group-solid > .btn + .btn,
.btn-group-vertical.btn-group-solid > .btn + .btn-group,
.btn-group-vertical.btn-group-solid > .btn-group + .btn,
.btn-group-vertical.btn-group-solid > .btn-group + .btn-group {
  margin-top: 0px;
  margin-left: 0;
}

.btn-default {
  border-width: 1px;
  padding: 6px 13px;
} 

.btn.red-stripe {
  border-left: 3px solid #d84a38;
}

.btn.blue-stripe {
  border-left: 3px solid #4d90fe;
}

.btn.purple-stripe {
  border-left: 3px solid #852b99;
}

.btn.green-stripe {
  border-left: 3px solid #35aa47;
}

.btn.yellow-stripe {
  border-left: 3px solid #ffb848;
}

.btn.dark-stripe {
  border-left: 3px solid #555555;
}

.btn.default {  
  color: #333333;
  text-shadow: none;  
  background-color: #e5e5e5;
}
.btn.default:hover, 
.btn.default:focus, 
.btn.default:active, 
.btn.default.active,
.btn.default[disabled], 
.btn.default.disabled {    
  color: #333333;
  background-color: #d8d8d8 !important;
  outline: none !important;
}

/*  Red */
.btn.red {
  color: white;  
  text-shadow: none;  
  background-color: #d84a38;
}
.btn.red:hover, 
.btn.red:focus, 
.btn.red:active, 
.btn.red.active,
.btn.red[disabled], 
.btn.red.disabled {    
  background-color: #bb2413 !important;
  color: #fff !important;
  outline: none !important;
}

/*  Blue */

.btn.blue {
  color: white;  
  text-shadow: none;  
  background-color: #4d90fe;
}
.btn.blue:hover, 
.btn.blue:focus, 
.btn.blue:active,
.btn.blue.active,
.btn.blue[disabled],
.btn.blue.disabled {  
  background-color: #0362fd !important;
  color: #fff !important;
  outline: none !important;
}

.btn-group .btn.blue.dropdown-toggle {
  background-color: #4d90fe !important;
}
.btn-group .btn.blue:hover, 
.btn-group .btn.blue:focus, 
.btn-group .btn.blue:active, 
.btn-group .btn.blue.active, 
.btn-group .btn.blue.disabled,
.btn-group .btn.blue[disabled] { 
  background-color: #0362fd !important;
  color: #fff !important;
  outline: none !important;
}

/*  Green */
.btn.green {
  color: white;
  text-shadow: none;   
  background-color: #35aa47;
}
.btn.green:hover, 
.btn.green:focus, 
.btn.green:active, 
.btn.green.active,
.btn.green.disabled, 
.btn.green[disabled]{ 
  background-color: #1d943b !important;
  color: #fff !important;
  outline: none !important;
}

/*  Purple */
.btn.purple {
  color: white; 
  text-shadow: none;  
  background-color: #852b99;
}
.btn.purple:hover, 
.btn.purple:focus, 
.btn.purple:active, 
.btn.purple.active, 
.btn.purple.disabled,
.btn.purple[disabled] { 
  background-color: #6d1b81 !important;
  color: #fff !important;
  outline: none !important;
}

.btn-group .btn.purple.dropdown-toggle {
  background-color: #852b99 !important;
}
.btn-group .btn.purple:hover, 
.btn-group .btn.purple:focus, 
.btn-group .btn.purple:active, 
.btn-group .btn.purple.active, 
.btn-group .btn.purple.disabled,
.btn-group .btn.purple[disabled] { 
  background-color: #6d1b81 !important;
  color: #fff !important;
  outline: none !important;
}

/*  Yellow */
.btn.yellow {
  color: white; 
  text-shadow: none;  
  background-color: #ffb848;
}
.btn.yellow:hover, 
.btn.yellow:focus, 
.btn.yellow:active, 
.btn.yellow.active, 
.btn.yellow.disabled,
.btn.yellow[disabled] { 
  background-color: #eca22e !important;
  color: #fff !important;
  outline: none !important;
}

.btn-group .btn.yellow.dropdown-toggle {
  background-color: #ffb848 !important;
}
.btn-group .btn.yellow:hover, 
.btn-group .btn.yellow:focus, 
.btn-group .btn.yellow:active, 
.btn-group .btn.yellow.active, 
.btn-group .btn.yellow.disabled,
.btn-group .btn.yellow[disabled] { 
  background-color: #eca22e !important;
  color: #fff !important;
  outline: none !important;
}

/*  Black */
.btn.dark {
  color: white; 
  text-shadow: none;  
  background-color: #555555;
}
.btn.dark:hover, 
.btn.dark:focus, 
.btn.dark:active, 
.btn.dark.active, 
.btn.dark.disabled,
.btn.dark[disabled] { 
  background-color: #222222 !important;
  color: #fff !important;
  outline: none !important;
}

.btn-group .btn.dark.dropdown-toggle {
  background-color: #555555 !important;
}
.btn-group .btn.dark:hover, 
.btn-group .btn.dark:focus, 
.btn-group .btn.dark:active, 
.btn-group .btn.dark.active, 
.btn-group .btn.dark.disabled,
.btn-group .btn.dark[disabled] { 
  background-color: #222222 !important;
  color: #fff !important;
  outline: none !important;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  vertical-align: middle;
}

.btn-lg > i {
  font-size: 18px;
}

.btn > i {
  font-size: 14px;
}

.btn-sm,
.btn-xs {
  padding: 4px 10px 5px 10px;
  font-size: 13px;
  line-height: 1.5;
}

.btn-sm > i,
.btn-xs > i {
  font-size: 13px;
} 

.btn-xs {
  padding: 1px 5px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}